.title {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.arrowed {
	position: relative;
}



.arrowed::after {
	content: "";
	position: absolute;
	left: 100%;
	bottom: 0px;
	width: 230px;
	height: 100%;
	background: url(../images/long-arrow.png);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 200px;
}

@media (max-width:700px) {
	.title {
		align-items: center;
	}

	.arrowed::after {
		display: none;
	}
}