@import "reset";
@import "base";
@import "mixins";
@import "./components/index.scss";

body{
    background-color: var(--bg-color);
    font-family: Montserrat, Courier, system-ui, sans-serif;
}

.app{
    padding: 50px 84px;
}



